# Mac OX S
*.DS_Store

# XCode
Saino.xcodeproj/project.xcworkspace/*
Saino.xcodeproj/xcuserdata/*

# Tests .ep and .result files
Tests/**/*.ep
Tests/**/*.result

# Tests generated mesh color files
Tests/**/*.colors
Tests/**/*.colored*

# Extras
Extras/
docs/
cloc-1.56.pl
